kiss_active.png
kiss_bar.png
kiss_combo.png
kiss_down.png
kiss_draw.c
kiss_draw.o
kiss_example1.c
kiss_example1.sln
kiss_example1.vcxproj
kiss_example2
kiss_example2.c
kiss_example2.o
kiss_example2.sln
kiss_example2.vcxproj
kiss_font.ttf
kiss_general.c
kiss_general.o
kiss_hslider.png 
kiss_left.png
kiss_LICENSE
kiss_makefile
kiss_manual.pdf
kiss_normal.png
kiss_posix.c
kiss_posix.o
kiss_prelight.png
kiss_right.png
kiss_sdl.h
kiss_selected.png
kiss_ss1.jpg
kiss_ss2.jpg
kiss_unselected.png
kiss_up.png
kiss_vslider.png
kiss_widgets.c
kiss_widgets.o
kiss_wood.png
link_inst_SDL2